{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% do view.registerAssetBundle("anvildev\\booked\\assetbundles\\BookedCpAsset") %}
{% do view.registerAssetBundle("anvildev\\booked\\assetbundles\\BookedServiceEditAsset") %}

{% set selectedSubnavItem = 'services' %}
{% set fullPageForm = true %}

{% block actionButton %}
	{% if craft.app.isMultiSite and service.id and (service.propagationMethod.value ?? 'none') != 'none' %}
		{% set propagationMethod = service.propagationMethod.value ?? 'none' %}
		{% set allSites = craft.app.sites.getAllSites() %}
		{% set serviceSiteId = service.siteId ?? currentSite.id %}
		{% set serviceSite = craft.app.sites.getSiteById(serviceSiteId) %}

		{% set availableSites = [] %}
		{% for siteItem in allSites %}
			{% if propagationMethod == 'all' %}
				{% set availableSites = availableSites|merge([siteItem]) %}
			{% elseif propagationMethod == 'siteGroup' %}
				{% if siteItem.groupId == serviceSite.groupId %}
					{% set availableSites = availableSites|merge([siteItem]) %}
				{% endif %}
			{% elseif propagationMethod == 'language' %}
				{% if siteItem.language == serviceSite.language %}
					{% set availableSites = availableSites|merge([siteItem]) %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% if availableSites|length > 1 %}
			<div class="site-selector">
				<div class="btn menubtn" data-icon="world">{{ currentSite.name|t('site') }}</div>
				<div class="menu">
					<ul class="padded">
						{% for siteItem in availableSites %}
							<li>
								<a href="{{ url('booked/services/' ~ service.id, {site: siteItem.handle}) }}" {% if siteItem.id == currentSite.id %} class="sel" {% endif %}>
									{{ siteItem.name|t('site') }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
	{% endif %}

	<div class="btngroup">
		<input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
	</div>
{% endblock %}

{% block content %}
	<input type="hidden" name="action" value="booked/cp/services/save">
	<input type="hidden" name="redirect" value="{{ 'booked/services'|hash }}">
	<input type="hidden" name="siteId" value="{{ currentSite.id ?? service.siteId }}">
	{% if service.id %}
		<input type="hidden" name="id" value="{{ service.id }}">
	{% endif %}

	{% if craft.app.isMultiSite %}
		{{ forms.selectField({
            first: true,
            label: 'multiSite.propagationMethod'|t('booked'),
            instructions: 'multiSite.propagationInstructions'|t('booked'),
            id: 'propagationMethod',
            name: 'propagationMethod',
            value: service.propagationMethod.value ?? 'none',
            options: [
                { label: 'multiSite.propagationNone'|t('booked'), value: 'none' },
                { label: 'multiSite.propagationAll'|t('booked'), value: 'all' },
                { label: 'multiSite.propagationSiteGroup'|t('booked'), value: 'siteGroup' },
                { label: 'multiSite.propagationLanguage'|t('booked'), value: 'language' },
            ],
            errors: service.getErrors('propagationMethod')
        }) }}
		<hr>
	{% endif %}

	<div class="field {% if not craft.app.isMultiSite %}first{% endif %}">
		{{ forms.lightswitchField({
        label: 'Enabled'|t('app'),
        id: 'enabled',
        name: 'enabled',
        on: service.enabled ?? true,
    }) }}
	</div>

	<div class="field">
		{{ forms.textField({
        label: 'Title'|t('app'),
        id: 'title',
        name: 'title',
        value: service.title,
        required: true,
        autofocus: true,
        errors: service.getErrors('title')
    }) }}
	</div>

	<div class="field">
		{{ forms.textareaField({
        label: 'labels.description'|t('booked'),
        id: 'description',
        name: 'description',
        value: service.description,
        rows: 3,
        errors: service.getErrors('description')
    }) }}
	</div>

	<div class="field">
		{{ forms.selectField({
        label: 'service.durationType'|t('booked'),
        id: 'durationType',
        name: 'durationType',
        options: [
            { label: 'service.durationTypeMinutes'|t('booked'), value: 'minutes' },
            { label: 'service.durationTypeDays'|t('booked'), value: 'days' },
            { label: 'service.durationTypeFlexibleDays'|t('booked'), value: 'flexible_days' },
        ],
        value: service.durationType ?? 'minutes',
    }) }}

		{{ forms.selectField({
        label: 'service.pricingMode'|t('booked'),
        id: 'pricingMode',
        name: 'pricingMode',
        options: [
            { label: 'service.pricingFlat'|t('booked'), value: 'flat' },
            { label: 'service.pricingPerUnit'|t('booked'), value: 'per_unit' },
        ],
        value: service.pricingMode ?? 'flat',
    }) }}

		<div id="flexible-days-fields" style="display: none;">
			{{ forms.textField({
				label: 'service.minDays'|t('booked'),
				id: 'minDays',
				name: 'minDays',
				type: 'number',
				min: 1,
				value: service.minDays ?? 1,
				errors: service.getErrors('minDays'),
			}) }}

			{{ forms.textField({
				label: 'service.maxDays'|t('booked'),
				id: 'maxDays',
				name: 'maxDays',
				type: 'number',
				min: 1,
				value: service.maxDays ?? 7,
				errors: service.getErrors('maxDays'),
			}) }}
		</div>

		{{ forms.textField({
        label: (service.durationType ?? 'minutes') == 'days' ? 'service.durationDays'|t('booked') : 'service.durationMinutes'|t('booked'),
        id: 'duration',
        name: 'duration',
        type: 'number',
        required: true,
        autofocus: true,
        min: 1,
        value: service.duration,
        errors: service.getErrors('duration'),
        unit: (service.durationType ?? 'minutes') == 'days' ? 'labels.days'|t('booked') : 'labels.min'|t('booked')
    }) }}

		{% set plugin = craft.app.plugins.getPlugin('booked') %}
		{% set settings = plugin.getSettings() %}
		{% set defaultTimeSlotLength = settings.defaultTimeSlotLength %}
		{% set defaultText = defaultTimeSlotLength ? (defaultTimeSlotLength ~ ' ' ~ 'labels.min'|t('booked')) : ('service.serviceDurationFallback'|t('booked', { duration: service.duration ?? 'N/A' })) %}
		{{ forms.selectField({
        label: 'service.timeSlotLength'|t('booked'),
        instructions: 'service.timeSlotInstructions'|t('booked', { default: defaultText }),
        id: 'timeSlotLength',
        name: 'timeSlotLength',
        value: service.timeSlotLength,
        options: [
            { label: 'service.default'|t('booked'), value: '' },
            { label: '5 min'|t('booked'), value: 5 },
            { label: '10 min'|t('booked'), value: 10 },
            { label: '15 min'|t('booked'), value: 15 },
            { label: '20 min'|t('booked'), value: 20 },
            { label: '30 min'|t('booked'), value: 30 },
            { label: '45 min'|t('booked'), value: 45 },
            { label: '60 min'|t('booked'), value: 60 },
            { label: '90 min'|t('booked'), value: 90 },
            { label: '120 min'|t('booked'), value: 120 },
            { label: '180 min'|t('booked'), value: 180 },
            { label: '240 min'|t('booked'), value: 240 },
            { label: '300 min'|t('booked'), value: 300 },
            { label: '360 min'|t('booked'), value: 360 },
            { label: '420 min'|t('booked'), value: 420 },
            { label: '480 min'|t('booked'), value: 480 },
            { label: '540 min'|t('booked'), value: 540 },
            { label: '600 min'|t('booked'), value: 600 },
            { label: '720 min'|t('booked'), value: 720 },
            { label: '840 min'|t('booked'), value: 840 },
            { label: '960 min'|t('booked'), value: 960 },
            { label: '1080 min'|t('booked'), value: 1080 },
            { label: '1200 min'|t('booked'), value: 1200 },
        ],
        errors: service.getErrors('timeSlotLength')
    }) }}
	</div>

	<div class="field">
		{% set isPerUnit = (service.durationType ?? 'minutes') == 'flexible_days' or ((service.durationType ?? 'minutes') == 'days' and (service.pricingMode ?? 'flat') == 'per_unit') %}
		{{ forms.textField({
        label: isPerUnit ? 'service.pricePerDay'|t('booked') : 'labels.price'|t('booked'),
        id: 'price',
        name: 'price',
        type: 'number',
        step: '0.01',
        min: 0,
        value: service.price,
        errors: service.getErrors('price'),
        unit: isPerUnit ? 'service.perDay'|t('booked') : null,
    }) }}
	</div>

	{% if craft.app.plugins.getPlugin('booked').isCommerceEnabled() %}
		{% set taxCategories = craft.commerce.taxCategories.allTaxCategories %}
		{% set taxOptions = [{label: 'service.taxCategoryDefault'|t('booked'), value: ''}] %}
		{% for category in taxCategories %}
			{% set taxOptions = taxOptions|merge([{label: category.name, value: category.id}]) %}
		{% endfor %}
		<div class="field">
			{{ forms.selectField({
			label: 'service.taxCategory'|t('booked'),
			instructions: 'service.taxCategoryInstructions'|t('booked'),
			id: 'taxCategoryId',
			name: 'taxCategoryId',
			value: service.taxCategoryId,
			options: taxOptions,
			errors: service.getErrors('taxCategoryId'),
		}) }}
		</div>
	{% endif %}

	<div class="field" id="buffer-fields">
		{{ forms.textField({
        label: 'service.bufferBefore'|t('booked'),
        instructions: 'service.bufferBeforeInstructions'|t('booked'),
        id: 'bufferBefore',
        name: 'bufferBefore',
        type: 'number',
        min: 0,
        value: service.bufferBefore,
        errors: service.getErrors('bufferBefore'),
        unit: (service.durationType ?? 'minutes') != 'minutes' ? 'labels.days'|t('booked') : 'labels.min'|t('booked')
    }) }}

		{{ forms.textField({
        label: 'service.bufferAfter'|t('booked'),
        instructions: 'service.bufferAfterInstructions'|t('booked'),
        id: 'bufferAfter',
        name: 'bufferAfter',
        type: 'number',
        min: 0,
        value: service.bufferAfter,
        errors: service.getErrors('bufferAfter'),
        size: 10,
        unit: (service.durationType ?? 'minutes') != 'minutes' ? 'labels.days'|t('booked') : 'labels.min'|t('booked')
    }) }}
	</div>

	<hr>
	<h2>{{ 'service.bookingRules'|t('booked') }}</h2>

	<div class="field">
		{{ forms.textField({
        label: 'service.minTimeBeforeBooking'|t('booked'),
        instructions: 'service.minTimeBeforeBookingInstructions'|t('booked'),
        id: 'minTimeBeforeBooking',
        name: 'minTimeBeforeBooking',
        type: 'number',
        min: 0,
        value: service.minTimeBeforeBooking,
        errors: service.getErrors('minTimeBeforeBooking'),
        size: 10,
        unit: 'labels.hoursUnit'|t('booked')
    }) }}
	</div>

	{{ forms.lightswitchField({
        label: 'service.allowCancellation'|t('booked'),
        instructions: 'service.allowCancellationInstructions'|t('booked'),
        id: 'allowCancellation',
        name: 'allowCancellation',
        on: service.allowCancellation,
        errors: service.getErrors('allowCancellation'),
        toggle: '#cancellation-policy-field',
    }) }}

	<div id="cancellation-policy-field" {{ not service.allowCancellation ? ' class="hidden"' : '' }}>
		{{ forms.textField({
        label: 'service.cancellationPolicyHours'|t('booked'),
        instructions: 'service.cancellationPolicyHoursInstructions'|t('booked'),
        id: 'cancellationPolicyHours',
        name: 'cancellationPolicyHours',
        type: 'number',
        min: 0,
        value: service.cancellationPolicyHours,
        errors: service.getErrors('cancellationPolicyHours'),
        size: 10,
        unit: 'labels.hoursUnit'|t('booked'),
        placeholder: settings.cancellationPolicyHours ?? 24
    }) }}
	</div>

	{% set selectedExtras = [] %}
	{% for extraId in assignedExtras %}
		{% set extra = craft.app.elements.getElementById(extraId, 'anvildev\\booked\\elements\\ServiceExtra') %}
		{% if extra %}
			{% set selectedExtras = selectedExtras|merge([extra]) %}
		{% endif %}
	{% endfor %}

	<hr>
	<div class="field">
		{{ forms.elementSelectField({
			label: 'element.addOns'|t('booked'),
			id: 'extras',
			name: 'extras',
			elementType: 'anvildev\\booked\\elements\\ServiceExtra',
			elements: selectedExtras,
			limit: null,
			sources: '*',
			instructions: 'service.addOnsInstructions'|t('booked')
		}) }}
	</div>
	{% set selectedLocations = [] %}
	{% for locationId in assignedLocations %}
		{% set location = craft.app.elements.getElementById(locationId, 'anvildev\\booked\\elements\\Location') %}
		{% if location %}
			{% set selectedLocations = selectedLocations|merge([location]) %}
		{% endif %}
	{% endfor %}

	<hr>
	<div class="field">
		{{ forms.elementSelectField({
			label: 'service.assignedLocations'|t('booked'),
			id: 'locations',
			name: 'locations',
			elementType: 'anvildev\\booked\\elements\\Location',
			elements: selectedLocations,
			limit: null,
			sources: '*',
			instructions: 'service.locationsInstructions'|t('booked')
		}) }}
	</div>
	<hr>
	<h2>{{ 'service.availability'|t('booked') }}</h2>
	{% set assignedSchedules = service.id ? service.getSchedules() : [] %}
	<div class="field">
		{{ forms.elementSelectField({
			label: 'service.assignedSchedules'|t('booked'),
			id: 'schedules',
			name: 'schedules',
			elementType: 'anvildev\\booked\\elements\\Schedule',
			elements: assignedSchedules,
			limit: null,
			sortable: true,
			sources: '*',
			errors: service.getErrors('schedules'),
		}) }}
	</div>

	<hr>
	<h2>{{ 'service.customerBookingLimits'|t('booked') }}</h2>

	<div class="field">
		{{ forms.lightswitchField({
        label: 'service.enableCustomerLimit'|t('booked'),
        instructions: 'service.enableCustomerLimitInstructions'|t('booked'),
        id: 'customerLimitEnabled',
        name: 'customerLimitEnabled',
        on: service.customerLimitEnabled ?? false,
        toggle: '#customer-limit-settings'
    }) }}
	</div>

	<div id="customer-limit-settings" class="{% if not service.customerLimitEnabled %}hidden{% endif %}">
		<div class="field">
			{{ forms.textField({
            label: 'service.maxAppointments'|t('booked'),
            instructions: 'service.maxAppointmentsInstructions'|t('booked'),
            id: 'customerLimitCount',
            name: 'customerLimitCount',
            type: 'number',
            min: 1,
            value: service.customerLimitCount,
            errors: service.getErrors('customerLimitCount')
        }) }}
		</div>

		<div class="field">
			{{ forms.selectField({
            label: 'service.timePeriod'|t('booked'),
            instructions: 'service.timePeriodInstructions'|t('booked'),
            id: 'customerLimitPeriod',
            name: 'customerLimitPeriod',
            value: service.customerLimitPeriod ?? 'month',
            options: [
                { label: 'service.perDay'|t('booked'), value: 'day' },
                { label: 'service.perWeek'|t('booked'), value: 'week' },
                { label: 'service.perMonth'|t('booked'), value: 'month' },
                { label: 'service.days7'|t('booked'), value: '7' },
                { label: 'service.days14'|t('booked'), value: '14' },
                { label: 'service.days30'|t('booked'), value: '30' },
                { label: 'service.days90'|t('booked'), value: '90' },
            ],
            errors: service.getErrors('customerLimitPeriod')
        }) }}
		</div>

		<div class="field">
			{{ forms.selectField({
            label: 'service.periodType'|t('booked'),
            instructions: 'service.periodTypeInstructions'|t('booked'),
            id: 'customerLimitPeriodType',
            name: 'customerLimitPeriodType',
            value: service.customerLimitPeriodType ?? 'rolling',
            options: [
                { label: 'service.rolling'|t('booked'), value: 'rolling' },
                { label: 'service.fixed'|t('booked'), value: 'fixed' },
            ],
            errors: service.getErrors('customerLimitPeriodType')
        }) }}
		</div>
	</div>

	{% set settings = craft.app.plugins.getPlugin('booked').getSettings() %}
	{% if settings.enableVirtualMeetings %}
		<hr>
		<h2>{{ 'service.virtualMeetings'|t('booked') }}</h2>

		{{ forms.selectField({
            label: 'service.virtualMeetingProvider'|t('booked'),
            instructions: 'service.virtualMeetingProviderInstructions'|t('booked'),
            id: 'virtualMeetingProvider',
            name: 'virtualMeetingProvider',
            value: service.virtualMeetingProvider,
            options: [
                { label: 'service.none'|t('booked'), value: '' },
                { label: 'Zoom', value: 'zoom' },
                { label: 'Google Meet', value: 'google' },
                { label: 'Microsoft Teams', value: 'teams' },
            ],
            errors: service.getErrors('virtualMeetingProvider')
        }) }}
	{% endif %}

	<hr>
	<h2>{{ 'service.refundTiers'|t('booked') }}</h2>

	{{ forms.lightswitchField({
        label: 'service.allowRefund'|t('booked'),
        instructions: 'service.allowRefundInstructions'|t('booked'),
        id: 'allowRefund',
        name: 'allowRefund',
        on: service.allowRefund,
        errors: service.getErrors('allowRefund'),
        toggle: '#refund-tiers-settings',
    }) }}

	<div id="refund-tiers-settings" class="{% if not service.allowRefund %}hidden{% endif %}">
		{% set refundTierData = service.refundTiers is iterable ? service.refundTiers : (service.refundTiers ? service.refundTiers|json_decode : null) %}
		{% set refundTierRows = {} %}
		{% if refundTierData %}
			{% for tier in refundTierData %}
				{% set refundTierRows = refundTierRows|merge({ ('row' ~ loop.index): tier }) %}
			{% endfor %}
		{% endif %}

		{{ forms.editableTableField({
			label: 'service.refundTiersLabel'|t('booked'),
			instructions: 'service.refundTiersInstructions'|t('booked'),
			id: 'refundTiers',
			name: 'refundTiers',
			cols: {
				hoursBeforeStart: {
					type: 'number',
					heading: 'service.refundTiersHoursColumn'|t('booked'),
					thin: false,
				},
				refundPercentage: {
					type: 'number',
					heading: 'service.refundTiersPercentColumn'|t('booked'),
					thin: false,
				},
			},
			rows: refundTierRows,
			errors: service.getErrors('refundTiers'),
			allowAdd: true,
			allowDelete: true,
			allowReorder: true,
			addRowLabel: 'service.refundTiersAddRow'|t('booked'),
		}) }}
	</div>

	<hr>
	<h2>{{ 'service.waitlist'|t('booked') }}</h2>

	{% set waitlistValue = service.enableWaitlist %}
	{% if waitlistValue is same as(true) %}
		{% set waitlistValue = '1' %}
	{% elseif waitlistValue is same as(false) %}
		{% set waitlistValue = '0' %}
	{% else %}
		{% set waitlistValue = '' %}
	{% endif %}

	{{ forms.selectField({
		label: 'service.enableWaitlist'|t('booked'),
		instructions: 'service.enableWaitlistInstructions'|t('booked'),
		id: 'enableWaitlist',
		name: 'enableWaitlist',
		value: waitlistValue,
		options: [
			{ label: 'service.useGlobalSetting'|t('booked') ~ (settings.enableWaitlist ? ' (' ~ 'labels.enabled'|t('booked') ~ ')' : ' (' ~ 'labels.disabled'|t('booked') ~ ')'), value: '' },
			{ label: 'labels.enabled'|t('booked'), value: '1' },
			{ label: 'labels.disabled'|t('booked'), value: '0' },
		],
		errors: service.getErrors('enableWaitlist')
	}) }}

	{% js %}
	(function() {
	    var labels = {
	        minutes: {{ 'service.durationMinutes'|t('booked')|json_encode|raw }},
	        days: {{ 'service.durationDays'|t('booked')|json_encode|raw }},
	        minUnit: {{ 'labels.min'|t('booked')|json_encode|raw }},
	        daysUnit: {{ 'labels.days'|t('booked')|json_encode|raw }},
	        price: {{ 'labels.price'|t('booked')|json_encode|raw }},
	        pricePerDay: {{ 'service.pricePerDay'|t('booked')|json_encode|raw }},
	        perDayUnit: {{ 'service.perDay'|t('booked')|json_encode|raw }}
	    };

	    function updatePriceLabel(isPerUnit) {
	        var priceField = document.getElementById('price');
	        if (!priceField) return;
	        var fieldWrap = priceField.closest('.field');
	        if (fieldWrap) {
	            var label = fieldWrap.querySelector('.heading label');
	            if (label) {
	                label.textContent = isPerUnit ? labels.pricePerDay : labels.price;
	            }
	        }
	        var inputWrap = priceField.closest('.input');
	        if (!inputWrap) return;
	        var unit = inputWrap.querySelector('.flex-label, .light');
	        if (isPerUnit) {
	            if (!unit) {
	                unit = document.createElement('div');
	                unit.className = 'flex-label light';
	                priceField.parentNode.appendChild(unit);
	            }
	            unit.textContent = labels.perDayUnit;
	        } else if (unit) {
	            unit.parentNode.removeChild(unit);
	        }
	    }

	    function syncPriceLabel() {
	        var durationType = document.getElementById('durationType').value;
	        var pricingMode = document.getElementById('pricingMode').value;
	        var isPerUnit = durationType === 'flexible_days'
	            || (durationType === 'days' && pricingMode === 'per_unit');
	        updatePriceLabel(isPerUnit);
	    }

	    document.getElementById('pricingMode').addEventListener('change', syncPriceLabel);

	    document.getElementById('durationType').addEventListener('change', function() {
	        var isDays = this.value === 'days';
	        var isFlexible = this.value === 'flexible_days';
	        var isDayBased = isDays || isFlexible;

	        // Update duration field label and visibility
	        var durationField = document.getElementById('duration');
	        if (durationField) {
	            durationField.closest('.field').style.display = isFlexible ? 'none' : '';
	            var label = durationField.closest('.field').querySelector('.heading label');
	            if (label) {
	                label.textContent = isDayBased ? labels.days : labels.minutes;
	            }
	            var container = durationField.closest('.input');
	            if (container) {
	                var unit = container.querySelector('.flex-label, .light');
	                if (unit) {
	                    unit.textContent = isDayBased ? labels.daysUnit : labels.minUnit;
	                }
	            }
	        }

	        // Hide timeSlotLength for day-based services
	        var slotField = document.getElementById('timeSlotLength');
	        if (slotField) {
	            slotField.closest('.field').style.display = isDayBased ? 'none' : '';
	        }

	        // Update buffer field units (minutes for time-slot, days for day-based)
	        var bufferFields = document.getElementById('buffer-fields');
	        if (bufferFields) {
	            bufferFields.querySelectorAll('.flex-label, .light').forEach(function(unit) {
	                unit.textContent = isDayBased ? labels.daysUnit : labels.minUnit;
	            });
	        }

	        // Show pricingMode only for fixed-day services
	        var pricingField = document.getElementById('pricingMode');
	        if (pricingField) {
	            pricingField.closest('.field').style.display = isDays ? '' : 'none';
	            if (!isDays) {
	                pricingField.value = isFlexible ? 'per_unit' : 'flat';
	            }
	        }

	        // Show minDays/maxDays only for flexible_days
	        var flexFields = document.getElementById('flexible-days-fields');
	        if (flexFields) {
	            flexFields.style.display = isFlexible ? '' : 'none';
	        }

	        // Sync price label with current duration/pricing combination
	        syncPriceLabel();
	    });

	    // Trigger on load
	    document.getElementById('durationType').dispatchEvent(new Event('change'));
	})();
	{% endjs %}
{% endblock %}
